h1,h2,h3,h4,h5,h6 {
    color: #4B4B4B;
}

#faq.container {
    margin-bottom: 50px;
}

#faq #accordion .card {
    border: none;
    background-color: #f2f2f2;
}

#faq #accordion .card-header {
    background-color: #f2f2f2;
}

#faq #accordion .card-header h3 {
    font-weight: 900;
    margin-left: 25px;
    display: inline-block;
    margin-bottom: 0px;
    width: 90%;
}

#faq #accordion .card-header img {
    width: 15px;
    float: right;
    margin-top: 10px;
}

.rotate {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#faq #accordion .card-body {
    padding: 30px 50px;
}

@media(max-width: 768px) {
    #faq #accordion .card-header h3 {
        margin-left: 0px;
    }
}

@media(max-width: 667px) {
    #faq #accordion .card-header h3 {
        font-size: 14px;
    }
}

@media(max-width: 420px) {
    #faq #accordion .card-header h3 {
        font-size: 13px;
        display: inline;
    }
    #faq #accordion .card-body {
        padding: 30px 10px;
    }
}